<!DOCTYPE html>
<html lang="en" ng-app="bayhillApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title>Angular ToDo</title>

  <!-- Styles -->
  <!-- <link rel="stylesheet" href="/static/app/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/static/css/style.css"> 
  
  <!-- Vendor scripts -->
  <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.min.js"></script>
  <!-- <script type="text/javascript" src="/static/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->

  <!-- App scripts  -->
  <script type="text/javascript" src="/static/js/app.js"></script>
  <script type="text/javascript" src="/static/js/controllers.js"></script>

</head>
<body>
  <div id="container" ng-view></div>
</body>
</html>